@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css');

:root {
  --bg-color1: #d9cab8;
  --bg-color2: #f0e7df;
  --blur-color: rgba(0, 0, 0, 0.4);
  --red-color: #ff5a83;
  --green-color: #00cf93;
  --hover-color: #cccccc28;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Public Sans', sans-serif;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: var(--bg-color1);
}

body {
}

.page {
  width: 793.7px;
  min-height: 1122.51px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  position: relative;
  display: flex;
  align-items: stretch;
}

.page-front {
  width: 250px;
  height: 92%;
  position: absolute;
  border: 1px solid #ccc;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 10px;
}

.page-left {
  width: 15%;
  flex-shrink: 0;
}

.page-bg1 {
  width: 100%;
  height: 25%;
  background-color: var(--bg-color1);
}

.page-bg2 {
  width: 100%;
  height: 75%;
  background-color: var(--bg-color2);
}

.page-menu {
  position: absolute;
  top: 5px;
  right: 5px;
  height: min-content;
  display: flex;
}

.page-menu label {
  margin-right: 5px;
}

.page-menu-button {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  padding: 5px;
}

.choose-color {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  flex-shrink: 0;
  background-color: var(--bg-color1);
  position: relative;
  cursor: pointer;
}

/* Front */
.avatar {
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  /* padding-top: 100%; */
  aspect-ratio: 1;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar label {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  visibility: hidden;
  cursor: pointer;
}

.avatar:hover label {
  visibility: visible;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
}

.menu div {
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu div:hover {
  transform: scale(120%);
  transition: 0.3s;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.item div {
  margin-right: 5px;
}

.name {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  margin: 20px 0;
}

.contact .item {
}

.item-icon {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-color1);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  flex-shrink: 0;
}

.item-name {
  font-weight: 500;
  color: #999;
}

.item-desc {
  font-weight: 500;
  padding: 5px 0;
}

.item-target .item-desc {
  font-weight: 300;
  padding: 10px 0;
}

.like {
  position: relative;
}

.like-count {
  font-size: 10px;
  color: #fff;
  position: absolute;
  top: 0;
  right: -10px;
  width: min-content;
  height: 15px;
  padding: 2px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red-color);
}

/* Page right */
.page-right {
  margin-top: 50px;
  margin-left: 190px;
  margin-bottom: 50px;
  padding-right: 20px;
  width: 70%;
}

.topic:not(:first-child) {
  margin-top: 20px;
}

.topic-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 22px;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.topic-title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--bg-color1);
}

.topic-child-title span:first-child {
  font-weight: bold;
}

.topic-child-time {
  font-weight: 200;
  color: #999;
}

/* Popup */
.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--blur-color);
  backdrop-filter: blur(8px);
  z-index: 998;
}

.edit-info {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: -1000px;
  height: 100vh;
  width: 300px;
  padding: 40px 20px;
  /* transform: translateX(-1000px); */
  z-index: 999;
}

.edit-info-title {
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}

.input-horizontal {
  display: inline;
  position: relative;
}

.input-horizontal input {
  width: 100%;
}

.input-horizontal label {
  display: inline-block;
  min-width: 75px;
  margin: 10px 0;
  font-weight: 500;
  color: #999;
}

.input-horizontal textarea {
  resize: vertical;
}

.input-vertical {
  margin-bottom: 10px;
}
.input-vertical label {
  display: block;
  font-weight: 500;
  color: #999;
  margin-bottom: 5px;
}

.input-vertical input {
  width: 100%;
}

.input-vertical textarea {
  resize: vertical;
}

.icon-exit {
  position: absolute;
  top: 10px;
  right: 10px;
}

.icon-exit:hover {
  transition: 0.3s;
  color: var(--red-color);
}

/* Button */
.btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.btn button {
  padding: 5px 20px;
  border: none;
  outline: none;
  text-transform: uppercase;
  background-color: var(--bg-color1);
  color: #fff;
  opacity: 0.8;
}

.btn button:hover {
  opacity: 1;
  transition: 0.3s;
}

.edit-content {
  color: #444;
  outline-color: var(--red-color);
  position: relative;
}

.edit-content:focus-visible .edit-content-close {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}

.edit-content .edit-content-close {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  color: var(--red-color);
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  visibility: hidden;
  opacity: 0;
  font-size: 16px;
  cursor: pointer;
}

.handle-topic {
  position: fixed;
  background-color: #fff;
  top: -1000px;
  left: 50%;
  transform: translateX(-50%);
  height: 200px;
  min-width: 500px;
  padding: 40px 20px;
  /* transform: translateX(-1000px); */
  z-index: 999;
}

.handle-topic-child {
  position: fixed;
  background-color: #fff;
  top: -1000px;
  left: 50%;
  transform: translateX(-50%);
  min-height: 500px;
  min-width: 500px;
  padding: 40px 20px;
  /* transform: translateX(-1000px); */
  z-index: 999;
}

.topic {
  position: relative;
  cursor: pointer;
}

.topic-menu {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
}

.item-icon-simple {
  margin-left: 5px;
  color: var(--bg-color1);
}

.icon-red {
  color: var(--red-color);
}

.icon-green {
  color: var(--green-color);
}

input {
  font-size: 15px;
  font-family: 'Public Sans', sans-serif;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

input:focus {
  border: 1px solid var(--bg-color1);
  background-color: #eee;
}

textarea {
  font-size: 15px;
  font-family: 'Public Sans', sans-serif;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

textarea:focus {
  border: 1px solid var(--bg-color1);
  background-color: #eee;
}

.topic-top {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  isolation: isolate;
  padding: 5px 5px 0px 5px;
}

.topic-top:before {
  content: '';
  height: 100%;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--hover-color);
  z-index: -1;
  transition: width 0.25s ease-in;
}

.topic-top:hover:before {
  width: 100%;
}

.topic-child {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  isolation: isolate;
  padding: 5px;
}

.topic-child:before {
  content: '';
  height: 100%;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--hover-color);
  z-index: -1;
  transition: width 0.25s ease-in;
}

.topic-child:hover:before {
  width: 100%;
}
