@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --small-font: 'Lato', sans-serif;
  --main-font: 'Noto Sans', sans-serif;
}

html {
  font-family: var(--main-font);
  font-size: 16px;
}
.contain {
  padding: 0 35px;
}

.contain--top {
  margin-top: 30px;
}

.contain--black {
  background-color: #000;
  color: #fff;
}

.wrapper {
  margin: 0 300px;
}

.topnav {
  background-color: #000;
  display: flex;
  justify-content: space-between;
}

.topnav__menu {
  display: flex;
  align-items: left;
}

.topnav__hover {
  color: #fff;
  padding: 10px 20px;
}

.topnav__hover i {
  font-size: 10px;
}

.topnav__hover:hover {
  color: chocolate;
  transition: 0.3s;
  cursor: pointer;
}

.topnav__social {
  display: flex;
  justify-content: center;
}

.topnav__sociallink {
  color: #fff;
  padding: 10px;
}

.topnav__sociallink:hover {
  color: chocolate;
  transition: 0.3s;
  cursor: pointer;
}

.logo__img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.logo__img img {
  width: 100px;
}

.logo__title {
  text-align: center;
}

/* POST */

.post__item {
  position: relative;
}

.post__thumb {
  position: relative;
  height: 100%;
}

.post__thumb::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.2);
  transition: 0.3s;
}

.post__thumb:hover::after {
  cursor: pointer;
  background-color: unset;
  transition: 0.3s;
}

.post__thumb img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  pointer-events: none;
}

.post__label {
  color: #000;
  background-color: #fff;
  font-weight: bold;
  width: max-content;
  font-size: 11px;
  padding: 4px 8px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.post__title {
  font-size: 26px;
  color: #fff;
  text-align: center;
  margin: 18px 0;
  padding: 0 10px;
}

.post__below {
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
  margin: 18px 0;
}

.wrapper--gird {
  display: grid;
  grid-template-areas:
    'item1 item2'
    'item1 item3';
  grid-template-columns: 74% 1fr;
  grid-template-rows: 300px 300px;
  grid-gap: 2px;
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

/* MOST POPULAR */
.blocks__title {
  text-transform: uppercase;
  font-size: 15;
  position: relative;
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.blocks__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 3px;
  background-color: chocolate;
}

.block__posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.block__post {
  display: block;
}

.post__title--black {
  color: #000;
}

.post__title--small {
  font-size: 16px;
}

.post__cat {
  padding: 10px 0;
  font-size: 10px;
  font-weight: bold;
  color: chocolate;
  text-align: center;
  font-family: var(--small-font);
  letter-spacing: 2px;
}

.post__thumb--square {
  height: unset;
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.post__thumb--square img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.wrapper--botline {
  border-bottom: 1px solid red;
}

.post__below--black {
  color: #000;
}

.wrapper--small {
  width: 50%;
}

.post__thumb--rectange {
  height: unset;
  width: 100%;
  padding-top: 66.66%;
  position: relative;
}

.post__thumb--rectange img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.post__thumb--margin {
  margin: 26px 0;
}

.post__desc {
  line-height: 20px;
  margin-bottom: 26px;
}

.read-more {
  text-align: center;
}

.read-more a {
  display: inline-block;
  padding: 13px 19px;
  border: 1px solid chocolate;
  text-decoration: none;
  font-family: var(--small-font);
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  color: #000;
}

.read-more a:hover {
  color: #fff;
  transition: 0.3s;
  background-color: #000;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  margin-top: 40px;
}

.post__social {
}

.post__like-count {
  font-size: 13px;
}

.post__like {
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}

.post__like:hover {
  color: chocolate;
  transition: 0.3s;
}

.post__like:hover i {
  transition: 0.3s;
  color: chocolate;
}

.post__like i {
  color: pink;
  font-size: 13px;
}

.post__like::after {
  content: '|';
  position: absolute;
  right: -20px;
}

.post__social-icon a i {
  font-size: 13px;
  color: #000;
  margin-left: 10px;
}

.post__social-icon a i:hover {
  color: chocolate;
  transition: 0.3s;
}

.post__author-name {
  text-transform: uppercase;
  color: chocolate;
  letter-spacing: 1px;
  cursor: pointer;
}

.post__author-by {
  font-style: italic;
}

.post__wrap {
  display: flex;
}

.post__thumb--50 {
  flex-shrink: 0;
}

.post__wrap-left {
  width: 50%;
}

.post__warp-right {
  width: 50%;
  padding-left: 20px;
}

.width--100 {
  width: 100%;
}

.post__wrap-above {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.post__desc--trun {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post__title--left {
  text-align: left;
  padding: unset;
}

.read-more--left {
  text-align: left;
}

.main-pagination {
  font-size: 11px;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.main-pagination a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}

.main-pagination a:hover {
  color: chocolate;
  transition: 0.3s;
}

.wrapper-full {
  width: 100%;
  margin: 0;
}

.wrapper--gird-div {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  position: relative;
}

.btn_follow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #000;
  padding: 8px 18px;
  text-decoration: none;
  font-size: 14px;
}

.social-strip {
  padding: 30px 0;
}

.social-links {
  text-align: center;
}

.social-links li {
  display: inline;
  padding: 0 10px;
}

.social-link {
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
}

.social-link i {
  padding-right: 10px;
}

.social-link:hover {
  color: chocolate;
  transition: 0.3s;
}

.wrapper--gird-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.blocks__title--left {
  text-align: left;
}

.blocks__title--left::after {
  text-align: left;
  left: 0;
  transform: unset;
  background-color: #000;
}

.post__wrapp--marginbot {
  margin-bottom: 20px;
}

.wrapper--paddingbottop {
  padding: 60px 0 40px 0;
}

.logo__title a {
  text-decoration: none;
  color: chocolate;
}

.logo__title a:hover {
  transition: 0.3s;
  color: red;
}

.to-top {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
}

.to-top a {
  text-decoration: none;
  margin-left: 5px;
  letter-spacing: 2px;
  color: #fff;
}

.contain--night {
  background-color: #1e1e1e;
}
